*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

#
code/scala/project/boot/scala-2.9.1/org.scala-tools.sbt/sbt/0.11.2/
code/scala/project/boot/other/
code/scala/project/boot/scala-2.9.1/lib/
code/scala/project/boot/scala-2.9.1/org.scala-tools.sbt/sbt/0.11.2/xsbti/
code/scala/project/boot/sbt.boot.lock
sbt-launch-*.jar
